<footer class="footer">
  <div class="row">
    <div class="col-sm-6 text-center text-sm-right order-sm-1">
      <ul class="text-gray">
        <li><a href="#">Правила использования</a></li>
        <li><a href="#">Политика конфиденциальности</a></li>
      </ul>
    </div>
    <div class="col-sm-6 text-center text-sm-left mt-3 mt-sm-0">
      <small class="text-muted d-block">Copyright © 2019 <a href="http://topse11er.ru" target="_blank">topse11er.ru</a>. Все права защищены</small>
      <small class="text-gray mt-2">Выпонено с <i class="mdi mdi-heart text-danger"></i></small>
    </div>
  </div>
</footer>