<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="topse11er.ru">
    <meta name="author" content="liteapps.ru">
    <link rel="icon" href="/assets/images/favicon.ico">
    <title>{% block title %}Topse11er Панель управления{% endblock %}</title>
    <link rel="stylesheet" href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.css" />
    <link rel="stylesheet" href="/assets/vendors/css/vendor.addons.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/shared/style.css" />
    <link rel="stylesheet" href="/assets/tunes/style.css" />
    <link rel="stylesheet" href="/assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
	{% block head %}{% endblock %}
</head>

<body>
	<div class="app">
		{% include "../partials/headerer.html" %}
		{% block content %}{% endblock %}
		{% block footer %}{% endblock %}
	</div>
    
    <!-- <script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/assets/vendors/js/core.js"></script>
    <script src="/assets/vendors/js/vendor.addons.js"></script>
	{% block scripts %}{% endblock %}
    <script src="/assets/js/template.js"></script>
</body>
</html>