<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="topse11er.ru">
    <meta name="author" content="liteapps.ru">
    <link rel="icon" href="/assets/images/favicon.ico">
    <title>{% block title %}TopSe11er{% endblock %}</title>
	{% block head %}
	    <link rel="stylesheet" href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.css" />
	    <link rel="stylesheet" href="/assets/vendors/css/vendor.addons.css" />
	    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	    <link rel="stylesheet" href="/assets/tunes/style.css" />
	    <link rel="stylesheet" href="/assets/css/shared/style.css" />
	    <link rel="stylesheet" href="/assets/css/demo_1/style.css">
	    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
	{% endblock %}
</head>

<body>
	<div class="app">
	    <div class="authentication-theme auth-style_1 container">
	        <div class="row">
	            <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto">
					{% block content %}{% endblock %}
	            </div>
	        </div>
	    </div>
	</div>
    
	{% block scripts %}
	    <script src="/assets/vendors/js/core.js"></script>
	    <script src="/assets/vendors/js/vendor.addons.js"></script>
	    <script src="/assets/js/template.js"></script>
	{% endblock %}
</body>
</html>