{% extends 'layouts/app.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block content %}
    <div class="page-body">
		{% include "partials/sidebar.html" %}
      <div class="page-content-wrapper" style="margin-top: 0px">
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div class="col-10 py-5">
                <h4>Персональная панель управления</h4>
                <p class="text-gray">Держи руку на пульсе</p>
              </div>
              <div class="col-2 py-5 text-right">
              	<a class="dropdown-grid" href="/logout">
              		<i class="grid-icon mdi mdi-logout mdi-3x"></i> 
              	</a>
              </div>
            </div>

            <div class="row" id="commonPanels">
              <div class="col-md-3 col-sm-6 col-12 equel-grid">
                <div class="grid bgGreen">
                  <div class="grid-body text-gray">
                    <p class="text-black"><strong>Сегодня</strong></p>
                    <div class="d-flex justify-content-between">
                      <p id="salesCommon">Выручка:</p>
                      <p>+тут будет дельта в %</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p id="profitCommon">Прибыль:</p>
                      <p>+тут будет дельта в %</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p id="marginCommon">Маржа:</p>
                      <p>+тут будет дельта в %</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12 equel-grid">
                <div class="grid bgBlue">
                  <div class="grid-body text-gray">
                    <p class="text-black"><strong>Вчера</strong></p>
                    <div class="d-flex justify-content-between">
                      <p>Сумма</p>
                      <p>+Прирост</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12 equel-grid">
                <div class="grid bgViolet">
                  <div class="grid-body text-gray">
                    <p class="text-black"><strong>Текущий месяц</strong></p>
                    <div class="d-flex justify-content-between">
                      <p>Сумма</p>
                      <p>+Прирост</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12 equel-grid">
                <div class="grid bgYellow">
                  <div class="grid-body text-gray">
                    <p class="text-black"><strong>Прошлый месяц</strong></p>
                    <div class="d-flex justify-content-between">
                      <p>Сумма</p>
                      <p>- Прирост</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <p class="card-title ml-n1">Выручка по дням</p>
                    <div class="chartdiv1" style="height: 500px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <p class="card-title ml-n1">Прибыль по дням</p>
                    <div class="chartdiv2" style="height: 500px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <p class="card-title ml-n1">Маржинальность по дням</p>
                    <div class="chartdiv3" style="height: 500px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <p class="card-title ml-n1">Маржинальность по товарам</p>
                    <div class="chartdiv4" style="height: 500px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <p class="card-title ml-n1">Заказы</p>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-hover table-sm">
                      <thead>
                      <tr class="solid-header">
                        <th>Дата</th>
                        <th>Магазин</th>
                        <th>Артикул</th>
                        <th>Наименование</th>
                        <th>Кол-во</th>
                        <th>Цена</th>
                        <th>Затраты</th>
                        <th>Доставка</th>
                      </tr>
                      </thead>
                      <tbody id="salesDetails">
                      <!--                        Заполняется скриптом                        -->
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
		{% include "partials/footer.html" %}
      </div>
    </div>
{% endblock %}

{% block scripts %}
	<script src="assets/vendors/apexcharts/apexcharts.min.js"></script>
	<script src="assets/vendors/chartjs/Chart.min.js"></script>
	<script src="assets/js/charts/chartjs.addon.js"></script>
	<script src="https://www.amcharts.com/lib/4/core.js"></script>
	<script src="https://www.amcharts.com/lib/4/charts.js"></script>
	<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>





    <script>
      function tuneXYChart(chart){
        chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

        chart.data = [{}];

        var  valueAxis = chart.xAxes.push(new am4charts.ValueAxis());

        var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.dataFields.category = "x";
        categoryAxis.renderer.minGridDistance = 10;
        //categoryAxis.fontSize = 11;
        categoryAxis.renderer.labels.template.rotation = 270;
        //categoryAxis.renderer.inside = true;

        let labelTemplate = categoryAxis.renderer.labels.template;
        labelTemplate.rotation = 0;
        labelTemplate.horizontalCenter = "left";
        labelTemplate.verticalCenter = "middle";
        labelTemplate.dx = 20; // moves it a bit
        //labelTemplate.inside = false;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        // valueAxis.min = 0;
        // valueAxis.max = 24000;
        valueAxis.strictMinMax = true;
        valueAxis.renderer.minGridDistance = 10;
// // axis break
//         var axisBreak = valueAxis.axisBreaks.create();
//         axisBreak.startValue = 10000;
//         axisBreak.endValue = 30000;
//         axisBreak.breakSize = 0.05;
//
// // make break expand on hover
//         var hoverState = axisBreak.states.create("hover");
//         hoverState.properties.breakSize = 1;
//         hoverState.properties.opacity = 0.1;
//         hoverState.transitionDuration = 1500;
//
//         axisBreak.defaultState.transitionDuration = 1000;

        var series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.categoryY = "x";
        series.dataFields.dateX = "x";
        series.dataFields.valueX = "y";
        series.columns.template.tooltipText = "{valueY.value}";
        series.columns.template.tooltipY = 0;
        series.columns.template.column.cornerRadiusTopLeft = 10;
        series.columns.template.column.cornerRadiusTopRight = 10;
        series.columns.template.column.fillOpacity = 0.8;
        series.columns.template.strokeOpacity = 0;

        var maleLabel = series.bullets.push(new am4charts.LabelBullet());
        maleLabel.label.text = "{valueX}";
        maleLabel.label.hideOversized = false;
        maleLabel.label.truncate = false;
        maleLabel.label.horizontalCenter = "right";
        maleLabel.label.dx = -10;
        // series.tooltip.pointerOrientation = "vertical";


// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
        series.columns.template.adapter.add("fill", function(fill, target) {
          return chart.colors.getIndex(target.dataItem.index);
        });

        //tunes
        //chart.cursor = new am4charts.XYCursor();
        chart.scrollbarY = new am4core.Scrollbar();
      }

      function getChartData(chart,dataName){
          axios.get(dataName)
          .then(function (response) {
              console.log(response);
              if(response){
                  chart.data = response.data;
              }
              else{
                  alert(response.data);
              }
          })
          .catch(function (error) {
              console.log(error);
          });
      }

      function getCommonData(){
        axios.get('/report/common')
                .then(function (response) {
                  console.log(response);
                  if(response){
                    document.getElementById('salesCommon').innerText = 'Выручка: ' + response.data.commonSales;
                    document.getElementById('profitCommon').innerText = 'Прибыль: ' + response.data.commonProfit;
                    document.getElementById('marginCommon').innerText = 'Маржа: ' + 0;//response.data.commonProfit;
                  }
                  else{
                    alert(response.data);
                  }
                })
                .catch(function (error) {
                  console.log(error);
                });
      }

      am4core.ready(function() {
        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart1 = am4core.create("chartdiv1", am4charts.XYChart);
        tuneXYChart(chart1);
        getChartData(chart1,'/report/sales');

        var chart2 = am4core.create("chartdiv2", am4charts.XYChart);
        tuneXYChart(chart2);
        getChartData(chart2,'/report/profit');

        var chart3 = am4core.create("chartdiv3", am4charts.XYChart);
        tuneXYChart(chart3);
        getChartData(chart3,'/report/margin');

        var chart4 = am4core.create("chartdiv4", am4charts.XYChart);
        tuneXYChart(chart4);
        getChartData(chart4,'/report/margin');

        getCommonData();

      }); // end am4core.ready()
    </script>

    <script>
      let innHTML = '';
      axios.get('/report/orders')
        .then(function (response) {
          for (let i=0;i<response.data.length; i++){
            let item = response.data[i];
            innHTML += '<tr>';
            innHTML += '<td class="pr-0 pl-4">';
            innHTML += '<small>'+item.date+'</small>';
            innHTML += '</td>';
            innHTML += '<td class="pr-0 pl-4">';
            innHTML += '<small>'+item.shop+'</small>';
            innHTML += '</td>';
            innHTML += '<td class="pr-0 pl-4">';
            innHTML += '<small>'+item.product_id+'</small>';
            innHTML += '</td>';
            innHTML += '<td class="pr-0 pl-4">';
            innHTML += '<small>'+item.product_name+'</small>';
            innHTML += '</td>';
            innHTML += '<td class="pr-0 pl-4">';
            innHTML += '<small>'+item.quantity+'</small>';
            innHTML += '</td>';
            innHTML += '<td class="pr-0 pl-4">';
            innHTML += '<small>'+item.sales+'</small>';
            innHTML += '</td>';
            innHTML += '<td class="pr-0 pl-4">';
            innHTML += '<small>'+item.cost+'</small>';
            innHTML += '</td>';
            innHTML += '<td class="pr-0 pl-4">';
            innHTML += '<small>'+item.delivery+'</small>';
            innHTML += '</td>';
            innHTML += '</tr>';
          }
          var container = document.getElementById('salesDetails');
          container.innerHTML = innHTML;
        })
        .catch(function (error) {
          console.log(error);
        })
    </script>
{% endblock %}