{% extends 'layouts/auth.html' %}

{% block title %}TopSe11er login{% endblock %}

{% block content %}
    {% include "partials/auth/header.html" %}
    <div class="grid">
        <div class="grid-body">
            <div class="row">
                <div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper">
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    <form class="form-signin" method="POST" action="/login">
                        <div class="form-group input-rounded">
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus />
                        </div>
                        <div class="form-group input-rounded">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control form-group input-rounded" placeholder="Пароль" required />
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Войти</button>
                        <div class="signup-link">
                            <a href="/register">Зарегистрироваться</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "partials/auth/footer.html" %}
{% endblock %}