{% extends 'layouts/auth.html' %}

{% block title %}TopSe11er login{% endblock %}

{% block content %}
    {% include "partials/auth/header.html" %}
    <div class="grid">
        <div class="grid-body">
            <div class="row">
                <div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper">
                <form class="form-signin" method="POST" action="/register">
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    <p></p>
                    <div class="form-group input-rounded">
                        <label for="inputName" class="sr-only">Name</label>
                        <input type="text" name="name" id="inputName" class="form-control" placeholder="Имя пользователя" required autofocus />
                    </div>
                    <div class="form-group input-rounded">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus />
                    </div>
                    <div class="form-group input-rounded">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name='password' id="inputPassword" class="form-control" placeholder="Пароль" required />
                    </div>
                    <div class="form-group input-rounded">
                        <input type="text" name="ozonClientId" id="inputOzonClientId"
                               class="form-control form-group input-rounded" placeholder="Ozon Client Id"
                               required/>
                    </div>
                    <div class="form-group input-rounded">
                        <input type="text" name="ozonApiKey" id="inputOzonApiKey"
                               class="form-control form-group input-rounded" placeholder="Ozon API-KEY"
                               required/>
                    </div>
                    <div class="form-group input-rounded">
                        <input type="text" name="wbUserName" id="inputWbUserName"
                               class="form-control form-group input-rounded" placeholder="Пользователь WB"
                               required/>
                    </div>
                    <div class="form-group input-rounded">
                        <input type="text" name="wbPassword" id="inputWbPassword"
                               class="form-control form-group input-rounded" placeholder="Пароль WB"
                               required/>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Зарегистрироваться</button>
                    <p></p>
                    <div class="signup-link">
                        <a href="/login">Войти</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include "partials/auth/footer.html" %}
{% endblock %}