{% extends 'layouts/app.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block content %}
    <div class="page-body">
		{% include "partials/sidebar.html" %}
      <div class="page-content-wrapper" style="margin-top: 0px">
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div class="col-10 py-5">
                <h4>Персональная панель управления</h4>
                <p class="text-gray">Держи руку на пульсе</p>
              </div>
              <div class="col-2 py-5 text-right">
              	<a class="dropdown-grid" href="/logout">
              		<i class="grid-icon mdi mdi-logout mdi-3x"></i> 
              	</a>
              </div>
            </div>


                <div class="row">
                    <div class="col-md-12 equel-grid">
                        <div class="grid">
                            <div class="grid-body py-3">
                                <p class="card-title ml-n1">Склад</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if error %}
                    <div class="row">
                        <div class="alert alert-danger">{{ error }}</div>
                    </div>
                  {% endif %}
                <div class="row">
                    <div class="col-md-12 equel-grid">
                        <div class="grid">
                            <form action="/store" method="POST" class="grid-body">
                                <div class="d-flex flex-row">
                                    <label for="inputDate" class="sr-only">Дата</label>
                                    <input type="text" name="date" 
                                           class="form-control mr-2 "  id="inputDate" data-provide="datepicker" autocomplete="false" autofill="false" placeholder="Дата"
                                           required data-position="right top" />


                                    <label for="inputName" class="sr-only">Товар</label>
                                    <input type="text" name="title" id="inputGood"
                                           class="form-control mr-2" placeholder="Товар"
                                           required style="min-width: 200px;" />

                                    <label for="inputCount" class="sr-only">Количество</label>
                                    <input type="number" name="count" id="inputCount"
                                           class="form-control mr-2" placeholder="Количество"
                                           required number />
                                </div>

                                <div class="d-flex flex-row mt-4">
                                    <button class="btn btn-primary w-50 mr-2" type="submit">+ ПРИХОД</button>
                                    <button class="btn btn-primary w-50 mr-2" type="button" id="rasbutton">- РАСХОД</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 equel-grid">
                        <div class="grid">
                            <div class="grid-body">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 equel-grid">
                        <div class="grid">

                            <div class="table-responsive">
                                <table class="table table-hover table-sm">
                                    <thead>
                                    <tr class="solid-header">
                                        <th>Дата</th>
                                        <th>Наименование</th>
                                        <th>Остаток</th>
                                    </tr>
                                    </thead>
                                    <tbody id="salesDetails">
                                      {% for key, item in items %}
                                      {% if item.product_name.length %}
                                          <tr>
                                            <td class="pr-0 pl-4">
                                              <small>{{ item.date }}</small>
                                            </td>
                                            <td class="pr-0 pl-4">
                                              <small>{{ item.product_name }}</small>
                                            </td>
                                            <td class="pr-0 pl-4">
                                              <small>{{ item.count }}</small>
                                            </td>
                                          </tr>
                                        {% endif %}
                                      {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

          </div>
        </div>
		{% include "partials/footer.html" %}
      </div>
    </div>
{% endblock %}


{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css">
<script type="text/javascript">
  $('#inputDate').datepicker({autoClose: true})
var options = {

  url: "/autocompleteStore",
  getValue: "product_name",
  list: { 
    match: {
      enabled: true
    }
  },

  theme: "square"
};

$( "[name='title']" ).easyAutocomplete(options);
$('#rasbutton').click( function() {
  $( this).closest('form').attr('action','/storediv');
  $( this).closest('form').submit();
})
$( '[name="count"]' ).on('keyup' , function() {
  if(parseInt($(this).val()) < 0 ) {
    $( this ).val(0);
  }
})
</script>
{% endblock %}