{% extends 'layouts/app.html' %}

{% block title %}Topse11er Панель управления{% endblock %}

{% block content %}
    <div class="page-body">
		{% include "partials/sidebar.html" %}
      <div class="page-content-wrapper" style="margin-top: 0px">
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div class="col-10 py-5">
                <h4>Персональная панель управления</h4>
                <p class="text-gray">Держи руку на пульсе</p>
              </div>
              <div class="col-2 py-5 text-right">
              	<a class="dropdown-grid" href="/logout">
              		<i class="grid-icon mdi mdi-logout mdi-3x"></i> 
              	</a>
              </div>
            </div>

            <div class="row" id="commonPanels">
              <div class="col-md-3 col-sm-6 col-12 equel-grid">
                <div class="grid bgGreen">
                  <div class="grid-body text-gray">
                    <p class="text-black"><strong>Сегодня</strong></p>
                    <div class="d-flex justify-content-between">
                      <p id="salesCommon">Выручка:</p>
                      <p>+тут будет дельта в %</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p id="profitCommon">Прибыль:</p>
                      <p>+тут будет дельта в %</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p id="marginCommon">Маржа:</p>
                      <p>+тут будет дельта в %</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12 equel-grid">
                <div class="grid bgBlue">
                  <div class="grid-body text-gray">
                    <p class="text-black"><strong>Вчера</strong></p>
                    <div class="d-flex justify-content-between">
                      <p>Сумма</p>
                      <p>+Прирост</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12 equel-grid">
                <div class="grid bgViolet">
                  <div class="grid-body text-gray">
                    <p class="text-black"><strong>Текущий месяц</strong></p>
                    <div class="d-flex justify-content-between">
                      <p>Сумма</p>
                      <p>+Прирост</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12 equel-grid">
                <div class="grid bgYellow">
                  <div class="grid-body text-gray">
                    <p class="text-black"><strong>Прошлый месяц</strong></p>
                    <div class="d-flex justify-content-between">
                      <p>Сумма</p>
                      <p>- Прирост</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <p class="card-title ml-n1">Выручка по дням</p>
                    <div class="chartdiv1" style="height: 500px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <p class="card-title ml-n1">Прибыль по дням</p>
                    <div class="chartdiv2" style="height: 500px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <p class="card-title ml-n1">Маржинальность по дням</p>
                    <div class="chartdiv3" style="height: 500px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <p class="card-title ml-n1">Маржинальность по товарам</p>
                    <div class="chartdiv4" style="height: 500px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3">
                    <p class="card-title ml-n1">Заказы</p>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-hover table-sm">
                      <thead>
                      <tr class="solid-header">
                        <th>Дата</th>
                        <th>Магазин</th>
                        <th>Артикул</th>
                        <th>Наименование</th>
                        <th>Кол-во</th>
                        <th>Цена</th>
                        <th>Затраты</th>
                        <th>Доставка</th>
                      </tr>
                      </thead>
                      <tbody id="salesDetails">
                      <!--                        Заполняется скриптом                        -->
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
		{% include "partials/footer.html" %}
      </div>
    </div>
{% endblock %}